@media all and ( max-width: 960px ) {

	.mobile-show {
		display: block;
	}

	.first-screen {
		background-position: 50% 50%;
	}

	.first-screen img {
		width: 35%;
	}

	.first-screen .btn {
		color: black;
		background-color: rgba( 255, 255, 255, 0.85 );
	}

	.first-screen .btn.login {
		left: 5%;
	}

	.first-screen .btn.more {
		right: 5%;
	}

	.container {
		width: 90%;
	}

	.intro-wrapper .intro-section img {
		margin-left: 0px;
		margin-right: 0px;
	}

	.tool-bar {
		height: 80px;
		top: -60px;
	}

	.tool-bar.show {
		height: 30px;
		top: 0px;
		padding: 10px 0px;
	}

	.tool-bar .search-tool,
	.tool-bar .logout {
		top: 10px;
	}

	.tool-bar .search-tool {
		left: 20px;
	}

	.tool-icon {
		width: 30px;
		height: 30px;
		position: fixed;
		top: 10px;
		right: 20px;
		background-image: url( ../images/mobile/tool-bar-icon.png );
		background-size: 30px;
		background-position: 0px 0px;
		z-index: 11;
	}

	.tool-icon.to_close {
		background-position: 0px 30px;
	}

	.tool-bar .logo {
		display: none;
	}

}

@media all and ( max-width: 720px ) {

	.first-screen .btn {
		width: 40%;
	}

	.psn-wall {
		margin: 60px 50px 100px 50px;
	}

	.psn-wall .psn-info h1 {
		font-size: 60px;
	}

	.data_board h1 {
		font-size: 60px
	}

	.data_board h2 {
		font-size: 56px;
	}

}

@media all and ( max-width: 480px ) {

	.first-screen img {
		width: 55%;
	}

	.first-screen .btn.login {
		width: 50%;
		left: 25%;
		padding-top: 13px;
		padding-bottom: 13px;
	}

	.first-screen .btn.more {
		display: none;
	}

	.intro-wrapper .intro-section {
		text-align: center;
		display: table;
	}

	.intro-wrapper .intro-section img {
		float: none;
		display: table-header-group;
		margin: 0px auto;
	}

	.intro-wrapper .intro-section .content {
		width: 90%;
		margin-left: 5%;
		float: none;
		display: table-footer-group;
	}

}