@media all and ( max-width: 960px ) {

	.mobile-show {
		display: block;
	}

	.first-screen {
		background-position: 50% 50%;
	}

	.first-screen img {
		width: 35%;
	}

	.first-screen .btn {
		color: black;
		background-color: rgba( 255, 255, 255, 0.85 );
	}

	.first-screen .btn.login {
		left: 5%;
	}

	.first-screen .btn.more {
		right: 5%;
	}

	.container {
		width: 90%;
	}

	.intro-wrapper .intro-section img {
		margin-left: 0px;
		margin-right: 0px;
	}

	.tool-bar {
		height: 80px;
		top: -60px;
	}

	.tool-bar:hover {
		top: -60px;
	}

	.tool-bar.show {
		height: 30px;
		top: 0px;
		padding: 10px 0px;
	}

	.tool-bar .search-tool,
	.tool-bar .logout {
		top: 10px;
	}

	.tool-bar .search-tool {
		left: 20px;
	}

	.tool-icon {
		width: 30px;
		height: 30px;
		position: fixed;
		top: 10px;
		right: 20px;
		background-image: url( ../images/mobile/tool-bar-icon.png );
		background-size: 30px;
		background-position: 0px 0px;
		z-index: 11;
	}

	.tool-icon.to_close {
		background-position: 0px 30px;
	}

	.tool-bar .logo {
		display: none;
	}

	.psn-wall {
		margin: 60px 70px 100px 70px;
	}

	.pure-form-aligned .pure-control-group label {
		text-align: left;
	}

	.bu_dai .setting-box .pure-form-aligned textarea {
		width: 65%;
	}

	.bu_dai .post-box {
		width: 90vw;
		left: 5vw;
	}

	.msg-box input {
		font-size: 14px;
	}

	.msg-box .post_btn:hover {
		background-position: 0px 0px;
	}

}

@media all and ( max-width: 720px ) {

	.first-screen .btn {
		width: 40%;
	}

	.psn-wall {
		margin: 60px 50px 100px 50px;
	}

	.psn-wall .psn-info h1 {
		font-size: 60px;
		line-height: 64px;
	}

	.data_board {
		margin-bottom: 30px;
	}

	.data_board h1 {
		font-size: 60px
	}

	.data_board h2 {
		font-size: 56px;
	}

	.data_board h2:last-child {
		margin-bottom: 0px;
	}

	.bu_dai .setting-box .pure-form-aligned textarea {
		width: 55%;
	}

	.psn-wall .grid .author img {
		width: 50px;
		height: 50px;
		border-radius: 50px;
	}

}

@media all and ( max-width: 480px ) {

	.first-screen img {
		width: 55%;
	}

	.first-screen .btn.login {
		width: 50%;
		left: 25%;
		padding-top: 13px;
		padding-bottom: 13px;
	}

	.first-screen .btn.more {
		display: none;
	}

	.intro-wrapper .intro-section {
		text-align: center;
		display: table;
	}

	.intro-wrapper .intro-section img {
		float: none;
		display: table-header-group;
		margin: 0px auto;
	}

	.intro-wrapper .intro-section .content {
		width: 90%;
		margin-left: 5%;
		float: none;
		display: table-footer-group;
	}

	.tool-icon {
		right: 10px;
	}

	.tool-bar .search-tool {
		left: 10px;
	}

	.tool-bar .search-tool input {
		width: 160px;
	}

	.tool-bar .search-tool .name-box {
		width: 180px;
	}

	.tool-bar .logout {
		right: 60px;
	}

	.psn-wall {
		margin: 60px 15px 100px 15px;
	}

	.psn-wall .psn-info {
		padding-left: 15px;
	}

	.psn-wall .psn-info h1 {
		font-size: 50px;
		line-height: 54px;
	}

	.psn-wall .psn-info h3 {
		font-size: 16px;
	}

	.data_board h1 {
		font-size: 48px;
	}

	.data_board h2 {
		padding: 50px 0px;
		font-size: 44px;
	}

	.bu_dai .setting-box {
		width: 90%;
		padding: 2%;
		left: 3%;
	}

	.divider.setting {
		margin: 0px;
	}

	.bu_dai .setting-box form {
		margin-top: 10px;
	}

	.pure-control-group {
		padding-left: 10px;
	}

	.bu_dai .setting-box.show {
		top: 2vh;
	}

	.divider.setting {
		width: 100%;
	}

	.bu_dai .setting-box {
		height: 90vh;
		width: 90%;
		padding: 2%;
		left: 3%;
	}

	.bu_dai .setting-box .pure-form-aligned textarea {
		width: 90%;
	}

	.bu_dai .post-box {
		width: 96vw;
		height: 80vh;
		top: 3vh;
		left: 1vw;
	}

	.bu_dai .post-box .comment_block .status-bar div {
		width: 48%;
	}

	.msg-box input {
		height: 30px;
	}

	.msg-box .post_btn {
		width: 62px;
		height: 36px;
		background-size: 62px;
	}

	.bu_dai .post-box .comment-wrapper .right-part {
		width: 80%;
	}

	.psn-wall .grid .author .name,
	.bu_dai .post-box .author .name,
	.bu_dai .post-box .comment-wrapper .right-part .name {
		font-size: 14px;
	}

	.psn-wall .grid .post_content,
	.bu_dai .post-box .post_content,
	.psn-wall .grid .more-msg,
	.bu_dai .post-box .comment-wrapper .right-part .content {
		font-size: 12px;
	}

}